@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0038a0;
  --secondary: #939393;
  --dark-primary: #585858;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

p {
  font-family: var(--font-cabin);
}

.text-primary {
  color: var(--primary);
}

.text-dark-primary {
  color: var(--dark-primary);
}

.text-secondary {
  color: var(--secondary);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-dark-primary {
  background-color: var(--dark-primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.border-color-primary {
  border-color: var(--primary);
}

.button-primary {
  background-color: var(--primary);
  color: var(--color-white);
}

.button-primary:hover {
  background-color: var(--primary);
  opacity: 0.8;
  color: var(--color-white);
  scale: 1.05;
  transition: all 0.2s ease-in-out;
}

.button-seondary {
  background-color: white;
  color: var(--primary);
}

.button-seondary:hover {
  background-color: rgba(242, 242, 242, 0.731);
  color: var(--primary);
  scale: 1.05;
  transition: all 0.2s ease-in-out;
}



@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}


/* styles/globals.css */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

